# Local Site Directories
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
_posts
pages/blog.html

# Ruby Gems
.bundle
Gemfile.lock

# Log Files
*.log
.DS_store

# Example Projects
_projects/eg*.md
_posts

#timeline
_data/timeline.yml
