<div class="wow animated fadeIn" data-wow-delay=".15s">
  <a href="{{ cert_url }}" class="project card text-dark ">
    {%- if cert_img -%}
    <img id="{{ cert_id }}-img" class="card-img-top" src="{{ cert_img }}" alt="{{ cert_name }}" />
    {%- endif -%}
    <div class="card-body">
      <h5 id="{{ cert_id }}-name" class="card-title">
          {%- if cert_type == "remote" -%}
          <i class="fab fa-github" data-toggle="tooltip" data-placement="bottom" data-delay="250" title="GitHub Repository"></i> |&nbsp;
          {%- endif -%}
        {{ cert_name }}
      </h5>
      <p id="{{ cert_id }}-desc" class="card-text">{{ cert_desc }}</p>
      <p id="{{ cert_id }}-tools" class="card-text">
        {%- for tool in cert_tools -%}
        <span class="badge badge-pill text-primary border border-primary ml-1">{{ tool }}</span>
        {%- endfor -%}
      </p>
      </div>
    <div class="card-footer {{ text_style }} ">
      <span class="badge badge-warning">{{cert.institute}}</span>
      <span style="float:right">{{ cert_date }}</span>
    </div>



  </a>
</div>
