<!-- Remote certs JS -->
<div class="card-columns m-3 mt-5">

  <!-- Local certs -->
  {% for cert in site.certs %}

    {%- assign cert_type  = "local" -%}
    {%- assign cert_id    = cert.name | slugify -%}
    {%- assign cert_img   = cert.image -%}
    {%- assign cert_name  = cert.name -%}
    {%- assign cert_desc  = cert.description -%}
    {%- assign cert_tools = cert.tools -%}
    {%- assign cert_date = cert.date || date: "%Y" -%}
    {%- assign cert_institute = cert.institute -%}

    {%- if cert.external_url -%}
      {%- assign cert_url = cert.external_url -%}
    {%- else -%}
      {%- assign cert_url = cert.url | relative_url -%}
    {%- endif -%}

    {% include certs/cert-card.html %}

  {% endfor %}

</div>
